@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes bg-scrolling-reverse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

@-o-keyframes bg-scrolling-reverse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

@keyframes bg-scrolling-reverse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

html {
  background: url("/square.svg") repeat;
  animation: bg-scrolling-reverse 2s linear infinite;
  background-size: 50px 50px;
  scroll-behavior: smooth;
  background-color: #f8fafc;
  scroll-snap-type: y mandatory;
  height: 100%;
  overflow-y: scroll;
}

html.dark {
  background-color: #171717;
  color: #f8fafc;
}

.section_port {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  font-size: 16px;
}

p {
  margin-bottom: 0.5rem;
}

.scroll_color {
  scrollbar-color: #f43f5e;
  scrollbar-width: thin;
}
